**/node_modules
**/*.log
**/.DS_Store
**/coverage
**/documentation
**/dist
**/.idea
**/.vscode
**/scripts/compiled_env.json
.DS_Store
node_modules
coverage
documentation
dist
.idea
.vscode
.certstorage
.keystorage
.webcrypto
package-lock.json